
.large-button {
  --width: 120px !important; /* Aumenta el ancho del botón */
  --height: 120px !important; /* Aumenta la altura del botón */
  --icon-size: 70px !important; /* Aumenta el tamaño del icono */
  font-size: 24px !important; /* Aumenta el tamaño del texto si se agrega alguno */
}

.fixed-bottom-right {
  position: fixed !important; /* Fijar el botón en la pantalla */
  bottom: 30px !important; /* Distancia desde la parte inferior */
  right: 50px !important; /* Distancia desde la parte derecha */
  z-index: 1000 !important; /* Asegura que el botón esté por encima de otros elementos */
}

  