<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{'CRUDUSER.LOGIN.LOGIN' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  

  <app-formulary type="login" (emitter)="login($event)" ></app-formulary>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin: 20px;" (click)="present()">
    <ion-fab-button>
      <ion-icon name="language" [ios]="'language' + '-outline'" [md]="'language' + '-sharp'"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
